// Here you can add other styles
@media only screen and (max-width: 600px) {
    .btn-parent-left {
        display: none;
    }
    .auth-bg {
        height: 700px;
    }
    .logo {
        width:40Px;
        background-color: transparent;
    }
    .banner {
        margin-top:20px;
        height:62vh;
        background-color: #202020;
        margin-bottom: 70px;
        .banner-left {
            float: left;
            padding: 40px;
            .title-tagline {
                font-size: 1.3em;
                float: left;
                width: 30vw;
                color: #ffffff;
                font-weight: 900;
            }
            .btn-invest-now,.btn-invest-help {
                border-radius: 25px;
                font-size: 1em;
                border:#f7892f 2px solid;
                width: 50vw;
                z-index: 10;
            }
            .btn-invest-now {
                margin-top:50px;
                background-color: #f7892f;  
                color: #202020; 
                margin-bottom: 15px;
            }
            .btn-invest-help {
                color:#f7892f;
                background-color: #202020;
            }
            .btn-invest-now:hover {
                color:#f7892f;
                background-color: #202020;
                margin-bottom: 15px;
            }
            .btn-invest-help:hover {
                background-color: #f7892f;  
                color: #202020; 
            }
    
        }
        .banner-right {
            width: 100%;
            float: right;
            text-align: right;
            .banner-img {
                height: 27vh;
                position: inherit;
                background: no-repeat cover;
            }
        }
    }
    .advantage {
        height: 900px;
        .advantage-card {
            float: none;
            display: block;
            margin-left: auto !important;
            margin-right: auto !important;
            padding-left: 0px !important;
            img {
                width:150px;
                height: 100px;
            }

        }
    }
    .flow-img {
        width: 90% !important;
        height: 90% !important;
    }
    .achievement {
        width: 90%;
        height: 380px;
        display: block;
        text-align: center;
        .achievement-border {
            width: 25%;
            display: inline;
            margin-left: auto;
            margin-right: auto;
        }
        .achievement-img {
            height: 40vw;
            width:40vw;
        }
    }
    .media {
        padding: 0 5%;
        width: 100%;
        background-color: #fac231;
        text-align: center;
        .media-title {
            width: 100%;
        }
        .media-border {
            text-align: center;
            width:100%;
            padding: 3% 0%;
            margin-bottom: 30px;
        }
        .media-img {
            margin: 0 3%;
            width: 25vw;
        }
    }
    .contact {
        background-color: #202020;
        padding: 5%;
        width:100%;
        height: 350px;
        .contact-img-logo {
            height: 20vw;
        }
        .contact-left {
            text-align: center;
            width: 100%;
            margin-bottom: 15px;

        }
        .contact-right {
            width: 100%;
            .contact-socialmedia {
                border: solid white 1px;
                z-index: 10;
                width: 100%;
                height: 75px;
                margin-bottom: 15px;
            }
            .contact-img {
            }
            .contact-mediasocial-title {
                color:#ffffff;
                font-size: 1.3em;
                padding:2% 3%;
                margin-left: 30px;
            }
        }
    }
    
    .juragan-container {
        padding:5%;
        text-align: center;
        .juragan-card {
            display: inline-table;
            margin: 0 1%;
            text-align: center;
            background-color: #ffffff;
            min-height: 400px;
            width: 30%;
            padding:2%;
        }
    }
    .modal-img {
        height: 20vh;
        width: 20vh;
        float: none !important;
    }
    .center {
        text-align: center;
    }
    .modal-left {
        width: 100%;
        display: inline;
        float: none !important;
        position: relative;
    }
    
    .modal-right {
        position: relative;
        width: 100%;
        display: inline;
        float: none !important;
    }
}
@media only screen and (max-width: 900px) and (min-width: 601px)   {
    .btn-parent-left {
        display: none;
    }
    .auth-bg {
        height: 500px;
    }
    .logo {
        width:40px;
        background-color: transparent;
    }
    .banner {
        margin-top:10vh;
        height:40vh;
        background-color: #202020;
        margin-bottom: 70px;
        .banner-left {
            float: left;
            padding: 40px;
            .title-tagline {
                font-size: 1.5em;
                float: left;
                width: 30vw;
                color: #ffffff;
                font-weight: 900;
            }
            .btn-invest-now,.btn-invest-help {
                border-radius: 25px;
                font-size: 0.8em;
                border:#f7892f 2px solid;
                width: 30vw;
                z-index: 10;
            }
            .btn-invest-now {
                background-color: #f7892f;  
                color: #202020; 
                margin-bottom: 15px;
            }
            .btn-invest-help {
                color:#f7892f;
                background-color: #202020;
            }
            .btn-invest-now:hover {
                color:#f7892f;
                background-color: #202020;
                margin-bottom: 15px;
            }
            .btn-invest-help:hover {
                background-color: #f7892f;  
                color: #202020; 
            }
    
        }
        .banner-right {
            width: 80%;
            float: right;
            text-align: right;
            .banner-img {
                height: 40vh;
                position: inherit;
                background: no-repeat cover;
            }
        }
    }
    .achievement {
        width: 90%;
        height: 600px;
        display: block;
        text-align: center;
        .achievement-border {
            width: 25%;
            display: inline;
            margin-left: auto;
            margin-right: auto;
        }
        .achievement-img {
            height: 35vw;
            width:35vw;
        }
    }
    .advantage {
        height: 1000px;
        .advantage-card {
            float: none;
            display: block;
            margin-left: auto !important;
            margin-right: auto !important;
            padding-left: 0px !important;

        }
    }
    .flow-img {
        width: 90% !important;
        height: 90% !important;
    }
    .media {
        padding: 0 5%;
        width: 100%;
        background-color: #fac231;
        text-align: center;
        .media-title {
            width: 100%;
        }
        .media-border {
            text-align: center;
            width:100%;
            padding: 3% 0%;
            margin-bottom: 30px;
        }
        .media-img {
            margin: 0 3%;
            width: 25vw;
        }
    }
    .contact {
        background-color: #202020;
        padding: 5%;
        width:100%;
        height: 550px;
        .contact-img-logo {
            height: 20vw;
        }
        .contact-left {
            text-align: center;
            width: 100%;
            margin-bottom: 15px;

        }
        .contact-right {
            width: 100%;
            .contact-socialmedia {
                border: solid white 1px;
                z-index: 10;
                width: 100%;
                height: 75px;
                margin-bottom: 15px;
            }
            .contact-img {
            }
            .contact-mediasocial-title {
                color:#ffffff;
                font-size: 1.3em;
                padding:2% 3%;
                margin-left: 30px;
            }
        }
    }
    .juragan-container {
        padding:5%;
        text-align: center;
        .juragan-card {
            display: inline-table;
            margin: 0 1%;
            text-align: center;
            background-color: #ffffff;
            min-height: 400px;
            width: 30%;
            padding:2%;
        }
    }
    .modal-img {
        height: 20vh;
        width: 20vh;
        float: none !important;
    }
    .center {
        text-align: center;
    }
    .modal-left {
        width: 100%;
        display: inline;
        float: none !important;
        position: relative;
    }
    
    .modal-right {
        position: relative;
        width: 100%;
        display: inline;
        float: none !important;
    }
}
  