// Variable overrides
.bg-black { background-color: #202020;}
.root {
    flex-grow: 1,
}
.title {
    flex-grow: 1,
}
.menuButton {
    background-color: transparent;
}
.logo {
    width:40px;
    // height: 50px;
    background-color: transparent;
}
.header {
    background-color: #fac231;
    color: #202020;
    .btn-parent-left {
        // text-align: left;
    }
}
.banner {
    margin-top:20px;
    height:80vh;
    background-color: #202020;
    margin-bottom: 70px;
    .banner-left {
        width: 20%;
        float: left;
        padding: 40px;
        .title-tagline {
            font-size: 3.7em;
            float: left;
            width: 30vw;
            color: #f6f6f6;
            font-weight: 900;
        }
        .btn-invest-now,.btn-invest-help {
            border-radius: 25px;
            font-size: 1.5em;
            border:#f7892f 2px solid;
            width:250px;
        }
        .btn-invest-now {
            background-color: #f7892f;  
            color: #202020; 
            margin-bottom: 15px;
        }
        .btn-invest-help {
            color:#f7892f;
            background-color: #202020;
        }
        .btn-invest-now:hover {
            color:#f7892f;
            background-color: #202020;
            margin-bottom: 15px;
        }
        .btn-invest-help:hover {
            background-color: #f7892f;  
            color: #202020; 
        }

    }
    .banner-right {
        width: 80%;
        float: right;
        text-align: right;
        .banner-img {
            height: 80vh;
            position: inherit;
            background: no-repeat cover;
        }
    }
}
.advantage,.achievement,.flow {
    margin: 50px auto;    
}
.advantage-title,.achievement-title,.flow-title,.media-title {
    font-weight: 900;
    text-align: left !important;
    font-size: 2.3em;
    padding-top:30px;
    padding-left:30px;
}
    .advantage {
    width: 90%;
    text-align: center;
    height: 400px;
    .advantage-title {
        padding-left: 0% !important;
    }
    .advantage-card {
        text-align: center;
        width: 300px;
        display: inline-table;
        height: 300px;
        margin:2%;
        font-weight: 800;
        .advantage-img {
            padding: 15px;
            border-bottom: #fac231;
        }
        .advantage-card-description {
            height: 100px;
            border-top: #fac231;
            padding: 20px;
        }
    }
}
.flow {
    padding: 0 5%;
    width: 100%;
    background-color: #fac231;
    text-align: center;
    padding-bottom: 30px !important;
    .flow-img {
        border:solid;
        background-color: #f6f6f6;
        border-radius: 30px;
        width: 60%;
        height: 60%;
    }
}
.achievement {
    width: 90%;
    height: 350px;
    text-align: center;
    .achievement-border {
        text-align: center;
        width: 25%;
        display: inline-table;
        margin:0px 30px;
    }
    .achievement-img {
        height: 250px;
        width:250px;
    }
}
.media {
    padding: 0 5%;
    width: 100%;
    background-color: #fac231;
    text-align: center;
    .media-title {
        width: 100%;
    }
    .media-border {
        text-align: center;
        width:100%;
        padding: 3% 0%;
        margin-bottom: 30px;
    }
    .media-img {
        margin: 0 3%;
        width: 10vw;
    }
}
.contact {
    background-color: #202020;
    padding: 5%;
    height: 350px;
    .contact-img-logo {
        height: 200px;
    }
    .contact-left {
        float: left;
        width: 38%;
    }
    .contact-right {
        float: right;
        width: 48%;
        border-left: solid white;
        padding-left: 3%;
        .contact-socialmedia {
            z-index: 10;
            float: left;
            border: solid red !important;
            height: 40px;
            width: 100%;
        }
        .contact-img {
            color: blue;
            float: left;
        }
        .contact-mediasocial-title {
            color:#f6f6f6;
            padding:2% 3%;
            margin-left: 30px;
        }
    }
}
.copyright {
    text-align: center;
    padding: 30px 5px;
    font-weight: 400;
}
.contact {
    background-color: #202020;
    padding: 5%;
    height: 300px;
    .contact-img-logo {
        height: 150px;
    }
    .contact-left {
        float: left;
        width: 38%;
    }
    .contact-right {
        float: right;
        width: 48%;
        border-left: solid white;
        padding-left: 3%;
        .contact-socialmedia-card-component {
            z-index: 10;
            float: left;
            border: solid red !important;
            height: 40px;
            width: 100%;
        }
        .contact-img {
            color: blue;
            float: left;
        }
        .contact-mediasocial-title {
            color:#f6f6f6;
            padding:2% 3%;
            margin-left: 30px;
        }
    }
}

.juragan-container {
    padding:5%;
    text-align: center;
    .juragan-card {
        display: inline-table;
        margin: 0 1%;
        text-align: center;
        background-color: #f6f6f6;
        min-height: 470px;
        width: 30%;
        padding:2%;
    }
    .juragan-img {
        width: 200px;
    }
    .juragan-description {
        min-height: 120px;
    }
    .juragan-typography {
        // text-align: left !important;
    }
}
.btn-invest-juragan {
    width: 100%;
    background-color: #f7892f !important;
    color:#f6f6f6 !important;
}
.btn-invest-juragan:hover {
    background-color: #f74000 !important;
}
.btn-logo-juragan {
    border: none;
    background-color: transparent !important;
}
.btn-logout {
    position: absolute;
    right: 0;
    top:0;
    background-color: transparent !important;
    border: solid #202020 1px !important;
    border-radius: 15px;
    margin-right: 20px;
    margin-top: 20px;
    font-weight: 500;
}
.btn-dashboard {
    position: absolute;
    left: 0;
    top:0;
    background-color: transparent !important;
    border:none;
    margin-left: 100px;
    margin-top: 20px;
    font-weight: 500;
    color:black;
    font-size: 20px;
}

.auth-bg {
    background-color: #202020;
    height: 355px;
    color:#f6f6f6;
    text-align: center;    
}
.auth-img {
    float: left;
}
.auth-title {
    padding-top:50px;
    margin-bottom: 50px;
}
.auth-btn {
    color: #5c6fce;
}
.modal-img {
    width: 8.5vw;
    height: 8.5vw;
    float: left;
}
.modal-left {
    width:40%;
    margin-left: 17%;
    position: absolute;
}
.bank-transfer {
    margin-right: 10px;
    width: 75px;
    float: left;
}
.modal-right {
    padding-left: 10px;
    border-left: solid;
    width:40%;
    // position: absolute;
    right: 0;
    float: right;
}
.no-rek {
    font-size: 1.4em;
}
.amount {
    color:#5C6FCE;
    font-size: 2em;
}
.grey {
    color:#797979;
}
.name-rek {
    font-size: 0.7em;
}
.confirm-alert {
    background-color: #FAC231;
    color:#f6f6f6;
    width:70%;
    text-align: center;
    margin: 0px auto;
    padding:5px;
    border-radius: 10px;
}
.note {
    padding:15px;
}
.btn-invest-finish {
    background-color: #3EC966 !important;
    padding:10px;
    width: 15vw;
    color:#f6f6f6 !important;
}
.invest-container {
    border:solid;
    min-height: 400px;
    .invest-card {
        border: solid;
        padding:10px;
        
    }
    .btn-invest-status {
        background-color: #3EC966;
    }
}
.thankyou-img {
    width:100%;
}
.container-fileupload {
    width:15%;
    position: absolute;
}
.form-label {
    font-weight: 500;
}
.form-input {
    border-radius: 10px;
}
.btn-upload-picture {
    margin-top:10px;
    border-radius: 15px;
    background-color: #f7892f;
    color: #f6f6f6; 
    border:none;
    padding: 2px;
    width: 150px;
    margin-bottom: 15px;
}
.juragan-list {
    width: 75%;
    float: right;
    padding:10px;
    height: 450px;
    overflow-y: scroll;
    .juragan-list-card {
        margin-bottom:15px;
        height: 150px;
        padding:10px;
    }
    .juragan-list-detail {
        overflow-y: scroll;
        height: inherit;
    }
    .juragan-list-img {
        width: 100px;
        height: 100px;
        float: left;
        margin-right: 10px;
    }
    .btn-list-delete {
        float: right;
        margin-right: 5px;
        border-radius: 10px;
        background-color:orange;
        color:#f6f6f6;
        border:none;
    }
}